@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the best Social platform ever!</h1>
    <h4>To view your feed navigate to the  <a asp-controller="Posts" asp-action="Index">Posts</a> menu</h4>
</div>
